<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>692733413374-ppkg3382k8hmpa9qjcerhseq5r47ljf2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692733413374-ppkg3382k8hmpa9qjcerhseq5r47ljf2</string>
	<key>API_KEY</key>
	<string>AIzaSyCAGDMyDr5rhr-94HZKd0483gE0kJQuALg</string>
	<key>GCM_SENDER_ID</key>
	<string>692733413374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.otpsample</string>
	<key>PROJECT_ID</key>
	<string>otpsample-b046b</string>
	<key>STORAGE_BUCKET</key>
	<string>otpsample-b046b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692733413374:ios:1ec8876d072529ac9de2af</string>
</dict>
</plist>